  profiles {
    standard {

    }

    batch {
      process.container = 'job-definition://bioanalyze-fargate-test-nf-rnaseq'

      process.executor = 'awsbatch'
      process.queue = 'bioanalyze-fargate-test-nf-rnaseq-default-job-queue'
      workDir = 's3://bioanalyze-fargate-test-nf-rnaseq-5jbrnartzo/work'

      aws.region = 'us-east-1'
    }

  }
