#  Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*
.terraform
.terraform.tfstate.lock.info
.terraform.lock.hcl
**/.terraform.lock.hcl

**/.idea
**/.vscode
**/*.iml

# Cloud Posse Build Harness https://github.com/cloudposse/build-harness
**/.build-harness
**/build-harness

# Crash log files
crash.log
test.log

# Dev Credentials
.aws
**/.aws
.ssh
**/.ssh

# Python things 
.pytest_cache
**/.pytest_cache
_build
