  profiles {
    standard {

    }

    batch {
      process.container = 'job-definition://bioanalyze-ec2-test-nf-rnaseq'

      process.executor = 'awsbatch'
      process.queue = 'bioanalyze-ec2-test-nf-rnaseq-default-job-queue'
      workDir = 's3://bioanalyze-ec2-test-nf-rnaseq-86uu8zvmpt/work'

      aws.region = 'us-east-1'
    }

  }
