  profiles {
    standard {

    }

    batch {
      process.container = 'job-definition://stemaway-dev-nf-rnaseq'

      process.executor = 'awsbatch'
      process.queue = 'stemaway-dev-nf-rnaseq-default-job-queue'
      workDir = 's3://stemaway-dev-nf-rnaseq-ckhtrqg88v/work'

      aws.region = 'us-east-1'
    }

  }
